body {
  background: #EAEAEA;
}
body {
  height: 0;
}

.main {
  display: block;
  width: 100vw;
  margin: 0 auto;
  margin-top: 20vh;
  margin-left: 5vw;
  display: none;
}

.button {
  width: 300px;
  text-align: center;
}

.leftbox {
  width: 45%;
  margin-right: 15%;
  margin-top: 20px;
  float: left;
}

.rightbox {
  height: 45%;
  margin-top: 5%;
  display: block;
}
